/* 

SETTINGS 

*/

:root {
    --color-alpha: #de4831;
    --color-beta: #e1decb;
    --color-dark: #221e21;
    --gutter: 24px;
}

/* 

ELEMENTS 

*/

body, html {
    /* Positioning */
    /* Box model */
    /* Fonts */
    font-family: "Sarabun", sans-serif;
    line-height: 1.6;
    color: var(--color-dark);
    font-size: 17px;
    /* Apperance */
    /* Other styles */
}

/* 

OBJECTS

*/

.o-grid {
    /* Positioning */
    display: grid;
    gap: calc(var(--gutter) *2);
    /* Box model */
    /* Fonts */
    /* Apperance */
    /* Other styles */
}

.o-grid--main-layout {
    grid-template-columns: 350px 1fr;
    grid-template-rows: 100vh;
}

.o-grid--overview {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.o-hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* 

COMPONENTS

*/

/* sidbar */

.c-sidebar {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--gutter);
    /* box-sizing: border-box; --> add padding inside the box */
    /* Box model */
    /* Fonts */
    /* Apperance */
    overflow-x: auto;
    background: var(--color-beta);
    /* Other styles */
}

/* sidebar header */

.c-sidebar-header {
    display: flex;
    align-items: center;
}

.c-sidebar-header__title {
    font-size: 1rem;
    /* relatieve tenopzichte van de body */
    margin-left: calc(var(--gutter)/2);
}

.c-sidebar-header__image {
    width: 24px;
}

.c-sidebar-counter {
    /* fonts */
    font-size: .9rem;
    font-weight: 600;
}

/* menu */

.c-menu__title {
    margin-bottom: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    opacity: .7;
}

.c-menu__list {
    margin: 0 0 calc(var(--gutter)*3);
    padding: 0;
    list-style: none;
}

.c-menu__link {
    all: unset;
    color: var(--color-alpha);
    letter-spacing: 1px;
    font-size: 0.95rem;
    font-weight: 600;
    opacity: .7;
    will-change: opacity;
    transition: opacity 200ms easy-out;
    cursor: pointer;
}

.c-menu__link:hover {
    opacity: 1;
}

.c-content {
    overflow: auto;
    padding: var(--gutter) calc(var(--gutter)*2) var(--gutter) 0;
}

/* country */

.c-country {
    display: block;
    opacity: 1;
    cursor: pointer;
}

.c-country-input:checked+.c-country {
    opacity: 0.6;
}

.c-country-header {
    display: flex;
    align-items: flex-start;
}

.c-country-header__name {
    font-size: 1.2rem;
    margin: 0;
}

.c-country-header__flag {
    display: block;
    height: calc(var(--gutter)/1.5);
    border-radius: 4px;
    margin-left: calc(var(--gutter)/2);
}

.c-country__native-name {
    opacity: .6;
    margin: 0;
}

.c-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
}

.c-button--reset {
    float: right;
    color: #ffffff;
    background-color: var(--color-alpha);
}

.c-button--reset:hover {
    background-color: #ac2925;
}

.c-notifications {
    position: absolute;
    bottom: 0;
    right: calc(var(--gutter)*2);
    width: 300px
}

.c-notification {
    margin: var(--gutter) 0;
    padding: calc(var(--gutter)/2);
    background: #FFFfff;
    box-shadow: 1px 1px 2px 1px rgba(30, 30, 30, .1);
    will-change: opacity;
    opacity: 1;
    transition: opacity 800ms ease-in-out;
}

.c-notification__header {
    margin: 0;
    font-size: 1.1rem;
}

.c-notification__action {
    all: unset;
    font-size: .9rem;
    display: block;
    color: var(--color-alpha);
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
    will-change: opacity;
    opacity: .5;
    transition: opacity 200ms ease-in-out;
}

/* 

UTILITIES

*/

.u-color-alpha {
    color: var(--color-alpha);
}

.u-fade-out {
    opacity: 0;
}